## 3.1 자료구조와 순차 자료

### 3.1.1 튜플 
1차원의 고정된 크기를 가진 변경 불가능한 순차 자료형

In [1]:
tup = 4, 5, 6

In [2]:
tup

(4, 5, 6)

In [3]:
nested_tup = (4,5,6), (7, 8)

In [4]:
nested_tup

((4, 5, 6), (7, 8))

In [5]:
tuple([4, 0 ,2])

(4, 0, 2)

In [6]:
tup = tuple('string')

In [7]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [8]:
tup[0]

's'

저장된 객체 자체 변경 가능<br>
각 슬롯에 저장된 객체를 변경하는 것은 불가

In [9]:
tup = tuple(['foo', [1, 2], True])

In [10]:
tup[2]

True

```python
# TypeError
tup = tuple(['foo', [1, 2], True])
tup[2] = False
```

튜플 내에 저장된 객체 위치 변경 가

In [11]:
tup[1].append(3)

In [12]:
tup

('foo', [1, 2, 3], True)

In [13]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [14]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

##### 1. 튜플에서 값 분리하기

In [15]:
tup = (4, 5, 6)

In [16]:
a, b, c = tup

In [17]:
b

5

In [18]:
tup = 4, 5, (6, 7)

In [19]:
a, b, (c, d) = tup

In [20]:
d

7

In [21]:
a, b = 1, 2

In [22]:
a

1

In [23]:
b

2

In [24]:
b, a = a, b

In [25]:
a

2

In [26]:
b

1

In [27]:
seq = [(1, 2, 3),(4, 5, 6),(7, 8, 9)]

In [28]:
for a, b, c in seq:
    print('a = {0}, b = {1}, c = {2}'.format(a, b, c))

a = 1, b = 2, c = 3
a = 4, b = 5, c = 6
a = 7, b = 8, c = 9

In [29]:
values = 1, 2, 3, 4, 5

In [30]:
a, b, *rest = values

In [31]:
a, b

(1, 2)

In [32]:
rest

[3, 4, 5]

##### 2. 튜플 메서드

In [33]:
a = (1, 2, 2, 2, 3, 4, 2)

In [34]:
a.count(2)

4