## 3.1 자료구조와 순차 자료

### 3.1.1 튜플 
1차원의 고정된 크기를 가진 변경 불가능한 순차 자료형

In [1]:
tup = 4, 5, 6

In [2]:
tup

(4, 5, 6)

In [3]:
nested_tup = (4,5,6), (7, 8)

In [4]:
nested_tup

((4, 5, 6), (7, 8))

In [5]:
tuple([4, 0 ,2])

(4, 0, 2)

In [6]:
tup = tuple('string')

In [7]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [8]:
tup[0]

's'

저장된 객체 자체 변경 가능<br>
각 슬롯에 저장된 객체를 변경하는 것은 불가

In [9]:
tup = tuple(['foo', [1, 2], True])

In [10]:
tup[2]

True

```python
# TypeError
tup = tuple(['foo', [1, 2], True])
tup[2] = False
```

튜플 내에 저장된 객체 위치 변경 가능

In [11]:
tup[1].append(3)

In [12]:
tup

('foo', [1, 2, 3], True)

In [13]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [14]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

##### 1. 튜플에서 값 분리하기

In [15]:
tup = (4, 5, 6)

In [16]:
a, b, c = tup

In [17]:
b

5

In [18]:
tup = 4, 5, (6, 7)

In [19]:
a, b, (c, d) = tup

In [20]:
d

7

In [21]:
a, b = 1, 2

In [22]:
a

1

In [23]:
b

2

변수의 이름 변경

In [24]:
b, a = a, b

In [25]:
a

2

In [26]:
b

1

In [27]:
seq = [(1, 2, 3),(4, 5, 6),(7, 8, 9)]

In [28]:
for a, b, c in seq:
    print('a = {0}, b = {1}, c = {2}'.format(a, b, c))

a = 1, b = 2, c = 3
a = 4, b = 5, c = 6
a = 7, b = 8, c = 9

In [29]:
values = 1, 2, 3, 4, 5

In [30]:
a, b, *rest = values

In [31]:
a, b

(1, 2)

In [32]:
rest

[3, 4, 5]

##### 2. 튜플 메서드

In [33]:
a = (1, 2, 2, 2, 3, 4, 2)

In [34]:
a.count(2)

4

### 3.1.2 리스트

In [1]:
a_list = [2, 3, 7, None]

In [2]:
tup = ('foo', 'bar', 'baz')

In [3]:
b_list = list(tup)

In [4]:
b_list

['foo', 'bar', 'baz']

리스트는 수정이 가능 <-> 튜플은 수정 불가능

In [7]:
b_list[1] = 'peekaboo'

In [8]:
b_list

['foo', 'peekaboo', 'baz']

In [10]:
gen = range(10)

In [11]:
gen

range(0, 10)

In [12]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

##### 1. 원소 추가하고 삭제하기

In [13]:
b_list.append('dwarf')

In [14]:
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

insert (삽입) <-> pop (값 반환 & 리스트에서 삭제)

In [15]:
b_list.insert(1,'red')

In [16]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [18]:
b_list.pop(2)

'peekaboo'

In [19]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [20]:
b_list.append('foo')

In [21]:
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

remove: 맨 앞의 원소를 삭제

In [22]:
b_list.remove('foo')

In [23]:
b_list

['red', 'baz', 'dwarf', 'foo']

In [24]:
'dwarf' in b_list

True

In [25]:
'dwarf' not in b_list

False

##### 2. 리스트 이어붙이기

In [26]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [27]:
x = [4, None, 'foo']

In [28]:
x.extend([7, 8, (2, 3)])

In [29]:
x

[4, None, 'foo', 7, 8, (2, 3)]

```python
# extend 메서드
everything = []
for chunk in list_of_lists:
    everything.extend(chunk)

# '+' 연산자를 이용
everything = []
for chunk in list_of_lists:
    everything = everything + chunk
    
# 아래 코드보다 위 코드가 더 빠르다
```

##### 3. 정렬

In [30]:
a = [7, 2, 5, 1, 3]

In [31]:
a.sort()

In [32]:
a

[1, 2, 3, 5, 7]

In [33]:
b = ['saw', 'small', 'He', 'foxes', 'six']

In [37]:
b.sort(key=len)

In [38]:
b

['He', 'saw', 'six', 'small', 'foxes']

##### 4. 이진 탐색과 정렬된 리스트 유지하기

In [39]:
import bisect

bisect.bisect : 값이 추가될 때 리스트가 정렬된 상태를 유지할 수 있는 위치를 반환<br>
bisect.insort : 정렬된 상태를 유지한 채 값을 추

In [40]:
c = [1, 2, 2, 2, 3, 4, 7]

In [41]:
bisect.bisect(c, 2)

4

In [42]:
bisect.bisect(c, 5)

6

In [43]:
bisect.insort(c, 6)

In [44]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

##### 5. 슬라이싱

In [45]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]

In [46]:
seq[1:5]

[2, 3, 7, 5]

In [47]:
seq[3:4] = [6, 3]

In [48]:
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [49]:
seq[:5]

[7, 2, 3, 6, 3]

In [51]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [50]:
seq[-4:]

[5, 6, 0, 1]

In [52]:
seq[-6:-2]

[6, 3, 5, 6]

```python
list[start:stop:step]
```

In [54]:
seq[::2]

[7, 3, 3, 6, 1]

In [56]:
# step = -1 이면 역순으로 반환
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

### 3.1.3 내장 순차 자료형 함수

##### 1. enumerate

순차 자료형을 현재 아이템의 색인을 함께 처러할 떄 사용

```python
i = 0
for value in collection:
    # value를 사용하는 코드 작성
    i += 1

```python
for i, value in enumerate(collection):
    # value를 사용하는 코드 작성

In [81]:
som_list = ['foo','bar','baz']

In [87]:
mapping = {}

In [89]:
for i, v in enumerate(some_list):
    mapping[v] = i

In [90]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

##### 2. sorted

정렬된 새로운 순차 자료형을 반환

In [95]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [94]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

##### 3. zip

여러 개의 리스트나 튜플 또는 다른 순차 자료형을 서로 짝지어서 튜플의 리스트를 생성

In [96]:
seq1 = ['foo', 'bar', 'baz']

In [97]:
seq2 = ['one', 'two', 'three']

In [98]:
zipped = zip(seq1,seq2)

In [99]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [100]:
seq3 = [False, True]

리스트의 크기 = 순차 자료형 중 가장 짧은 크기

In [101]:
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [102]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [103]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]

In [104]:
first_names, last_names = zip(*pitchers)

In [105]:
first_names

('Nolan', 'Roger', 'Schilling')

In [106]:
last_names

('Ryan', 'Clemens', 'Curt')

##### 4. reversed

In [107]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### 3.1.4 딕션너리

해시맵 or 연관 배열 이라고도 함<br>
키 - 값 (키, 값 모두 파이썬 객체)

In [108]:
empty_dict = {}

In [109]:
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}

In [110]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [111]:
d1[7] = 'an integer'

In [112]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [113]:
d1['b']

[1, 2, 3, 4]

In [114]:
'b' in d1

True

del 예약어 or pop 메서드 (값을 반환함) -> 딕션너리 값을 삭제

In [115]:
d1[5] = 'some value'

In [116]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [117]:
d1['dummy'] = 'another value'

In [118]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [120]:
del d1[5]

In [121]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [122]:
ret = d1.pop('dummy')

In [123]:
ret

'another value'

In [124]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

keys 메서드 : key가 담긴 이터레이터 반환<br>
values 메서드 : value가 담긴 이터레이터 반환

In [125]:
list(d1.keys())

['a', 'b', 7]

In [126]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

update 메서드 : 하나의 사전을 다른 사전과 합칠 수 있음

In [127]:
d1.update({'b' : 'foo', 'c' : 12 })

In [128]:
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

##### 1. 순차 자료형에서 사전 생성하기

```python
mapping = {}
for key, value in zip(key_list, value_list):
    mapping[key] = value 
```

In [130]:
mapping = dict(zip(range(5), reversed(range(5))))

In [131]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

##### 2. 기본값

```python
if key in some_dict:
    value = some_dict[key]
else:
    value = default_value
```

```python
# 위의 코드와 같은 의미 
value = some_dict.get(key, default_value)
```

In [155]:
words = ['apple', 'bat', 'bar', 'atom', 'book']

In [156]:
by_letter = {}

In [160]:
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

apple
bat
bar
atom
book

In [158]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [162]:
# 위 코드의 for 문과 동일 
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)

```python
if letter not in by_letter:
    by_letter[letter] = [word]
else:
by_letter[letter].append(word)

# 위의 코드와 동일
by_letter.setdefault(letter, []).append(word)
```

```python
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)
```

##### 3. 유효한 사전 키

key는 스칼라형(정수, 실수, 문자열)이나 튜플(튜플에 저장된 값 역시 값이 바뀌지 않는 객체여야 함)처럼 값이 바뀌지 않는 객체만 가능 -> 해시 가능해야 함.<br>
hash 함수를 사용해서 검사 가능

In [163]:
hash('string')

-939635959379804450

In [164]:
hash((1, 2, (2, 3)))

-9209053662355515447

```python
# TypeError
hash((1, 2, [2, 3])) # 리스트는 변경이 가능한 값이므로 해시 가능하지 않음 
```

In [166]:
d = {}

In [167]:
d[tuple([1, 2, 3])] = 5

In [168]:
d

{(1, 2, 3): 5}