In [22]:
import numpy as np

In [1]:
import pandas as pd

In [3]:
from pandas import Series, DataFrame

## 5.1 pandas 자료구조 소개

### 5.1.1 Series

Series는 객체를 담을 수 있는 1차원 배열 같은 자료구조<br>
index라는 배열의 데이터와 연괸된 이름을 가지고 있음

In [4]:
obj = pd.Series([4, 7, -5, 3])

In [5]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

```python
# index : 0 ~ N-1(데이터 길이 : N)
index(0)          value
index(1)          value
index(2)          value
             .
             .
             .
index(N-1)        value
dtype: 
```

In [6]:
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [7]:
obj.index # range(4) 와 같음

RangeIndex(start=0, stop=4, step=1)

In [13]:
# index를 지칭
obj2 = pd.Series([4, 7, -5, 3], index = ['d', 'b', 'a', 'c'])

In [11]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [12]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

index로 라벨을 사용할 수 있음

In [14]:
obj2['a']

-5

In [15]:
obj2['d'] = 6

In [17]:
#index 배열 
obj2[['c', 'a', 'd']]

c    3
a   -5
d    6
dtype: int64

In [19]:
# 배열 연산 수행해도 index - value 유지 
obj2[obj2 > 0]

d    6
b    7
c    3
dtype: int64

In [20]:
obj2 * 2

d    12
b    14
a   -10
c     6
dtype: int64

In [25]:
# exp() --> 지수(e)함수
np.exp(obj2)

d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

Series = 고정 길이의 정렬된 dictionary type

In [26]:
'b' in obj2

True

In [27]:
'e' in obj2

False

In [28]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [29]:
# dicionary --> Series
obj3 = pd.Series(sdata)

In [30]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [31]:
# index 순서 지정
states = ['California', 'Ohio', 'Oregon', 'Texas']

In [32]:
obj4 = pd.Series(sdata, index = states)

In [33]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [36]:
# 누락된 데이터 
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [37]:
# 누락되지 않는 데이터
pd.notnull(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [39]:
# pd.isnull(obj4)와 동일 
obj4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [41]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [42]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [44]:
# index와 values 자동정렬 
obj3 + obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [45]:
# name 속성
obj4.name = 'population'

In [46]:
obj4.index.name = 'state'

In [47]:
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [48]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [49]:
# index 변경
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']

In [50]:
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64